# Editor configs
.vscode
*.vim

# Makefile dependencies
*.d

# Libraries
*.a

# Object files
*.o

# Shared objects
*.so
*.so.*

# Executables
*.out
libgote.a
unit_tests

# Coverage reports
*.gcda
*.gcno
