# Editor configs
.vscode
*.vim

# Makefile dependencies
*.d

# Libraries
*.a
/lib/include

# Object files
*.o

# Shared objects
*.so
*.so.*

# Executables
*.out
/target
/example.out
/unit-tests

# Coverage reports
*.gcda
*.gcno
